body {
    background-color: black;
    font-family: sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
}
.img {
    width: 900px;
}

.button {
    background-color: #36bbce;
    color:white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    background-color: black;
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
}

.nav-link {
    color:white;
    font-size: 24px;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 24px;
}

.info {
    
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 50px;
}

article {
    background-color: white;
    padding:30px ;
    width: 400px;
    margin:20px ;
}

.article-but {
    display: flex;
    text-decoration: none;
    background-color: mediumblue;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    justify-content: center;   
}

footer {
    display: flex;
    background-color: cadetblue;
    justify-content: flex-start ;
    padding: 20px;
}

footer a {
    margin-right: 30px ;
    display: block;
}

footer p {
    font-size:25px ;
}
